
@{
    ViewBag.Title = "Welcome";
}

<div class="row">
    <div class="col-xs-12">
        <h1 class="bottom1em">Welcome to SG College Student Information System!</h1>
        <h4>This system allows us to keep track of current student information, including major declarations and courses.</h4>
        <h4 class="text-danger">This system is currently in beta.</h4>
    </div>
</div>