@model CarDealership.UI.Models.VehicleSearchViewModel

@{
    ViewBag.Title = "Used Vehicles";
}

<h2>Used Vehicles</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.Partial("_SearchBar", Model.SearchParams)
        </div>
    }
</div>

<h2>Search Results</h2>

<div class="search-results"></div>

@section Scripts {
    <script src="~/Scripts/Logic.js"></script>
    <script>
        let imgPath = '@Url.Content("~/Images/Vehicles")';

        $(document).ready(function () {
            $('#search-btn').on('click', function () {
                $('.search-results').empty();
                queryVehicles(imgPath, @((int)CarDealership.Models.Enums.Condition.Used), false, "Details");
            });
        });
    </script>
}