@model CarDealership.UI.Models.VehicleSearchViewModel

@{
    ViewBag.Title = "Used Vehicles";
}

<h2>Used Vehicles</h2>

<div class="row">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.Partial("_SearchBar", Model.SearchParams)
        </div>
    }
</div>

<h2>Search Results</h2>

<div class="search-results">
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#search').on('click', function () {
                alert("Search button was clicked.");
                $.ajax({
                    url: 'http://localhost:59373/vehicles/search/',
                    type: 'GET',
                    contentType: "application/json",
                    //data: JSON.stringify({}),
                })
                .done(function (results) {
                    $.each(results, function (index, vehicle) {
                        $('.search-results').append("<div class='row'>" + vehicle.make + "</div>");
                    });
                })
                .fail(function () {

                });
            })
        });
    </script>
}