@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,700');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

h2 {
    margin: 1em 0 1em 0;
}

.featured-div {
    border-color: white;
    border-width: thick;
    border-style: solid;
    border-radius: 1em;
    background-color: #636363;
    color: white;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    min-height: 340px;
    position: relative;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.featured-div:hover {
    background-color: darkslategray;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.featured-div:active {
    background-color: lightgray;
    color: black;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.featured-img {
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-radius: .5em;
    margin-top: 1em;
    width: 100%;
    height: 75%;
    min-height: 240px;
}

.detail-img {
    border-color: black;
    border-width: medium;
    border-style: solid;
    border-radius: .5em;
    width: 100%;
    height: 75%;
    min-height: 150px;
}

.dollar-img {
    width: 75px;
}

hr {
    border-color: black;
}

.strong {
    font-weight: bold;
}

textarea {
    resize: none;
}

#contact-submit {
    margin-bottom: 2em;
}

.panel-darkslategray {
    border-color: darkslategray;
}

.panel-darkslategray > .panel-heading {
    background: darkslategray;
    color: white;
    border-color: darkslategray;
}

.panel-heading {
    font-weight: bold;
}

.btn-custom {
    background-color: hsl(168, 31%, 1%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7cbaae", endColorstr="#010303");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7cbaae), to(#010303));
    background-image: -moz-linear-gradient(top, #7cbaae, #010303);
    background-image: -ms-linear-gradient(top, #7cbaae, #010303);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cbaae), color-stop(100%, #010303));
    background-image: -webkit-linear-gradient(top, #7cbaae, #010303);
    background-image: -o-linear-gradient(top, #7cbaae, #010303);
    background-image: linear-gradient(#7cbaae, #010303);
    border-color: #010303 #010303 hsl(168, 31%, -14%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99);
    -webkit-font-smoothing: antialiased;
}

.btn-custom:hover {
    background-color: hsl(168, 31%, 1%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f4f4f4", endColorstr="#7cbaae");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#f4f4f4), to(#7cbaae));
    background-image: -moz-linear-gradient(top, #f4f4f4, #7cbaae);
    background-image: -ms-linear-gradient(top, #f4f4f4, #7cbaae);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f4f4f4), color-stop(100%, #7cbaae));
    background-image: -webkit-linear-gradient(top, #f4f4f4, #7cbaae);
    background-image: -o-linear-gradient(top, #f4f4f4, #7cbaae);
    background-image: linear-gradient(#f4f4f4, #7cbaae);
    border-color: #010303 #010303 hsl(168, 31%, -14%);
    color: #000 !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99);
    -webkit-font-smoothing: antialiased;
}

#search-btn {
    width: 100%;
}

.search-panel {
    background-color: lightgrey;
    border-color: darkslategray;
}

.form-control:focus {
    border-color: darkslategray;
    box-shadow: inset 0 1px 1px rgba(47, 79, 79, 0.2), 4px 4px 4px rgba(47, 79, 79, 1);
}

.text-shadow {
    text-shadow: 2px 2px black;
}

.carousel {
    width: 100%;
    border-radius: .75em;
    border-style: solid;
    border-width: thin;
    border-color: darkslategray;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
}

#location-map {
    border-radius: .75em;
    border-style: solid;
    border-width: thin;
    border-color: darkslategray;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
}

#location-details {
    margin-top: 2em;
}

table {
    border-radius: .75em;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
}

.panel {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    -moz-box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
    box-shadow: 0px 0px 20px 0px rgba(47,79,79,0.75);
}