@import url('https://fonts.googleapis.com/css?family=Raleway:300i,400,700');

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Raleway', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */

input,
select {
    max-width: 280px;
}
textarea {
    max-width: 670px;
}


.featured-div {
    border-color: white;
    border-width: thick;
    border-style: solid;
    background-color: #636363;
    color: white;
    margin-top: 1em;
    text-align: center;
    font-weight: bold;
    min-height: 350px;
}

.featured-div a {
    color: white;
}

.featured-img {
    border-color: black;
    border-width: medium;
    border-style: solid;
    margin-top: 1em;
    width: 100%;
    height: 75%;
    min-height: 200px;
}

.dollar-img {
    width: 75px;
}

hr {
    border-color: black;
}

.strong {
    font-weight: bold;
}

.r-align {
    text-align: right;
}

textarea {
    resize: none;
}

#contact-submit {
    margin-bottom: 2em;
}

.panel-darkslategray {
    border-color: darkslategray;
}

.panel-darkslategray > .panel-heading {
    background: darkslategray;
    color: #ffffff;
    border-color: darkslategray;
}

.panel-heading {
    font-weight: bold;
}

.btn-custom {
    background-color: hsl(168, 31%, 1%) !important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7cbaae", endColorstr="#010303");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#7cbaae), to(#010303));
    background-image: -moz-linear-gradient(top, #7cbaae, #010303);
    background-image: -ms-linear-gradient(top, #7cbaae, #010303);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7cbaae), color-stop(100%, #010303));
    background-image: -webkit-linear-gradient(top, #7cbaae, #010303);
    background-image: -o-linear-gradient(top, #7cbaae, #010303);
    background-image: linear-gradient(#7cbaae, #010303);
    border-color: #010303 #010303 hsl(168, 31%, -14%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99);
    -webkit-font-smoothing: antialiased;
}

#search-btn {
    width: 100%;
}
#MinPrice,
#MaxPrice,
#MinYear,
#MaxYear {
    min-width: 100px;
}

#search-panel {
    background-color: lightgrey;
}