/* ------------------ IDs ------------------*/

#add-screen-button,
#create-button,
#search-button,
#update-button,
.cancel-button {
    width: 100%;
    font-weight: bold;
    color: white;
}
#col-title {
    width: 25%;
}
#col-year {
    width: 10%;
}
#col-director {
    width: 10%;
}
#col-rating {
    width: 5%;
}
#col-options {
    width: 15%;
}
#movie-list {
    margin: auto;
}
#sg-logo {
    position: absolute;
    top: 1em;
    left: 1em;
}

/* ---------------- Classes ----------------*/

.btn-custom {
    background-color: hsl(360, 76%, 4%) !important;
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#e85d5d", endColorstr="#110202");
    background-image: -khtml-gradient(linear, left top, left bottom, from(#e85d5d), to(#110202));
    background-image: -moz-linear-gradient(top, #e85d5d, #110202);
    background-image: -ms-linear-gradient(top, #e85d5d, #110202);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e85d5d), color-stop(100%, #110202));
    background-image: -webkit-linear-gradient(top, #e85d5d, #110202);
    background-image: -o-linear-gradient(top, #e85d5d, #110202);
    background-image: linear-gradient(#e85d5d, #110202);
    border-color: #110202 #110202 hsl(360, 76%, -11%);
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99);
    -webkit-font-smoothing: antialiased;
    -moz-box-shadow: 3px 3px 2px 0px #aaa;
    -webkit-box-shadow: 3px 3px 2px 0px #aaa;
    box-shadow: 3px 3px 2px 0px #aaa;
}
.btn-custom:active {
    position: relative;
    top: 3px;
}

.form-control:focus {
    border-color: #D12A2E;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.error-outline {
    border-color: #D1912A;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 226, 0, 0.6);
}

.view-dvd {
    margin-bottom: 2em;
    font-weight: bold;
}

/* ---------------- Tags ----------------*/

a {
    cursor: pointer;
}

hr {
    border-color: black;
}
th {
    padding: 5px;
    background-color: #CCC;
    text-align: center;
}
button {
    border-color: black;
    border-width: thick;
}
textarea {
    resize: none;
}
table {
    width: 100%;
    text-align: center;
}
